<nav class="header container">
  <div class="logo col-6">
    <a href="/">Todd Moy</a>
  </div>
  <div class="links col-6">
    <a href="/#work" class="ta-r">Work</a>
    <a href="/#writing" class="ta-r">Writing</a>
    <a href="/#resume" class="ta-r">Résumé</a>
    <a href="/#contact" class="ta-r">Contact</a>
  </div>
</nav>
