.button {
  display: inline-block;
  border: solid #000 2px;
  padding: 0.7em 1em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
  }
}
