.global-header {
  a {
    color: $font-color-body;
    display: inline-block;
    font-weight: bold;
    font-size: $font-size-body * 0.6;
    padding: 1em;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
}
