.global-header {
  background-color: #fff;
  text-align: center;

  a {
    color: $font-color-nav;
    display: inline-block;
    font-family: $font-family-nav;
    font-size: $font-size-nav;
    font-weight: bold;
    padding: 1em;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}
