html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
}

a, a:visited, a:active {
  color: $font-color-body;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  font-size: 0.7em;
}

tr {
  border-bottom: solid #eee 1px;
}

th, td {
  text-align: left;
  padding: 5px 0;
}

.avatar {
  background: #ffffff url("/assets/avatar.png") no-repeat center;
  background-size: 50%;
  border-radius: 200px;
}

.avatar--small {
  width: 100px;
  height: 100px;
}

.avatar--big {
  width: 200px;
  height: 200px;
}

.global-header {
  font-family: $font-family-header;
  text-align: center;
  border-bottom: solid rgba(0,0,0,0.08) 1px;
}

.global-header__identity {
  display: block;
  padding: 2em;
  font-size: $font-size-global-header * 0.7;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
}

hr {
  border: solid $color-accent-1 3px;
  margin: 3em auto 3em auto;
  width: 20px;
}
