html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
}

.avatar {
  background: #ffffff url("/assets/avatar.png") no-repeat center;
  background-size: 50%;
  border-radius: 200px;
  margin: 0 auto;
}

.avatar--small {
  width: 100px;
  height: 100px;
}

.avatar--big {
  width: 200px;
  height: 200px;
}

.main-content__2-col {
  margin-bottom: 3em;

  @media (min-width: $bp-md) {
    column-count: 2;
  }
}

.main-content {
  margin-bottom: 5em;

  p, h2, h3, h4, table,  ul, ol, figure, dl, .main-content__2-col {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  figure {
    display: block;
    position: relative;
    margin: 3em auto;
  }

  figure.full-bleed {
    width: 90%;
    max-width: 2000px;
    padding: 0;
  }
}
