// General

body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $line-height-body;
  color: $font-color-body;
  @media (min-width: $bp-md) {
    font-size: $font-size-body;
    line-height: $line-height-body;
  }
}

// Headings

h1 {
  font-size: $font-size-body * 2;
  line-height: $line-height-body;
  @media (min-width: $bp-md) {
    font-size: $font-size-body * 2.5;
    line-height: $line-height-body * 0.9;
  }
  @media (min-width: $bp-lg) {
    font-size: $font-size-body * 3;
    line-height: $line-height-body * 0.8;
  }
}

h2 {
  font-size: $font-size-body;
  font-family: $font-family-body;
  font-weight: bold;
  line-height: $line-height-body * 0.7;
  margin-bottom: 1em;
}

h3 {
  font-family: $font-family-body;
  font-weight: bold;
  font-size: $font-size-body;
  line-height: $line-height-body;
}

h4 {
  font-size: $font-size-body * 1.25;
  line-height: $line-height-body * 0.9;
  @media (min-width: $bp-md) {
    line-height: $line-height-body;
  }
}

// Lists

ol, ul {
  margin: 0;
  padding-left: 50px;
  padding: 0 !important;
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  border-top: solid #ddd 1px;
  padding-top: 0.5em;
  @media (min-width: $bp-md) {
    clear:left;
    float:left;
    width: 50%;
    border-top: none;
    border-top: solid #ddd 1px;
  }
}

dd {
  margin: 0;
  padding-bottom: 0.5em;
  @media (min-width: $bp-md) {
    clear: right;
    border-top: solid #ddd 1px;
  }
}

dt, dd {
  text-align: center;
  @media (min-width: $bp-md) {
    text-align: left;
    padding: 0.5em 0;
  }
}

// Links

a {
  text-decoration: underline;
  color: $font-color-body;
  &:hover {
    color: $color-accent-3;
    text-decoration: underline;
  }
}

// Tables

table {
  width: 100%;
}

tr {
  border-bottom: solid #eee 1px;
}

th, td {
  text-align: left;
  padding: 5px 0;
}

// Other

hr {
  border: solid $color-accent-1 3px;
  margin: 3em auto 3em auto;
  width: 20px;
}

figcaption {
  font-size: 0.7em;
  margin-bottom: 1em;
  color: #999;
}
