// Breakpoints
$bp-sm: 25.00em;
$bp-md: 43.75em;
$bp-lg: 56.25em;

// Colors
$color-accent-1: cornflowerblue;
$color-accent-2: #000;
$color-accent-3: #0000ff; // blue
$color-accent-4: rgba(198,172,154, 1.0);
$color-accent-5: rgba(47, 70, 100, 1.0);
$color-accent-6: rgba(217, 220, 228, 1.0);

// Font Styles
// @import url(https://fonts.googleapis.com/css?family=Merriweather:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

// - Body
$font-family-body: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$font-weight-body: 400;
$font-size-body: 1.3em;
$line-height-body: 1.7;
$font-color-body: #333;

// - Headers
$font-family-header: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$font-size-header: 1em;

$font-family-header-2: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
$font-size-header-2: 1em;


// - Nav
$font-family-nav: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
$font-color-nav: #333;
$font-size-nav: 1em;

// - Footer
$font-family-footer: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
$font-size-footer: 0.7em;

// - Buttons
$font-family-button: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
$font-size-button: 0.7em;
$font-color-button: #333;
$border-button: solid $color-accent-2 2px;
