// Breakpoints
$bp-md: 43.75em;
$bp-lg: 56.25em;

// Font Styles
// - Body
$font-family-body: Georgia, Times, serif;
$font-size-body: 1.3em;
$line-height-body: 1.5;
$font-color-body: #333;

// - Header
$font-family-header: 'Helvetica Neue', Helvetica, sans-serif;
$font-size-header: 1em;

// - Headline
$font-family-headline: Georgia, Times, serif;

// - Footer
$font-family-footer: 'Helvetica Neue', Helvetica, sans-serif;
$font-size-footer: 0.6em;

// Other Colors
$color-accent-1: #f1c40f; // gold-ochre
$color-accent-2: #61636F; // grey-purple
$color-accent-3: #E84C46; // brick-red
