// Breakpoints
$bp-md: 43.75em;
$bp-lg: 56.25em;

// Font Faces
$font-family-body: Georgia, Times, serif;
$font-family-header: 'Helvetica Neue', Helvetica, sans-serif;
$font-family-headline: Georgia, Times, serif;
$font-color-body: #333;

// Font Metrics
$font-size-body: 1.3em;
$font-size-global-header: 1em;
$line-height-body: 1.5;

// Other Colors
$color-accent-1: #f1c40f; // gold-ochre
$color-accent-2: #61636F; // grey-purple
