<% wrap_layout :layout do %>

<article class="case-story">
  <header class="case-story__header">
    <h1 class="case-story__title"><%= current_page.data.page_title %></h1>
    <div class="case-story__hero">
      <img src="/assets/placeholder-hero.svg" data-src="assets/hero.png" alt="cover image" />
    </div>
  </header>
  <%= yield %>
</article>

<% end %>
