<section class="slide slide--basic-text" style="<%= styles %>">
  <h2 class="slide__topic"><%= topic %></h2>
  <h3 class="slide__headline"><%= headline %></h3>
  <div class="slide__body"><%= body %></div>
</section>