<% wrap_layout :layout do %>

<article class="case-story__wrapper scene_element scene_element--fadein">
  <header class="case-story__header">
    <h1 class="case-story__title"><%= current_page.data.page_title %></h1>
    <p class="case-story__project"><%= current_page.data.client + " " + current_page.data.project %></p>
  </header>
  <div class="main-content">
    <%= yield %>
  </div>
</article>

<% end %>
