<% wrap_layout :layout do %>

<section class="container mb-xxl mt-xxl">
  <h1 class="col-12">Selected Work</h1>
</section>

<section class="container mb-xxl">
  <a class="col-4 card">
    <img src="//placehold.it/500x700" />
    <div class="card--overlay">
      <h2 class="h2">Checkout Redesign</h2>
      <p>Making a quicker checkout with fewer abandonments</p>
    </div>
  </a>
  <a class="col-4 card">
    <img src="//placehold.it/500x700" />
    <div class="card--overlay">
      <h2 class="h2">Checkout Redesign</h2>
      <p>Making a quicker checkout with fewer abandonments</p>
    </div>
  </a>
  <a class="col-4 card">
    <img src="//placehold.it/500x700" />
    <div class="card--overlay">
      <h2 class="h2">Checkout Redesign</h2>
      <p>Making a quicker checkout with fewer abandonments</p>
    </div>
  </a>
  <a class="col-4 card">
    <img src="//placehold.it/500x700" />
    <div class="card--overlay">
      <h2 class="h2">Checkout Redesign</h2>
      <p>Making a quicker checkout with fewer abandonments</p>
    </div>
  </a>
  <a class="col-4 card">
    <img src="//placehold.it/500x700" />
    <div class="card--overlay">
      <h2 class="h2">Checkout Redesign</h2>
      <p>Making a quicker checkout with fewer abandonments</p>
    </div>
  </a>
  <a class="col-4 card">
    <img src="//placehold.it/500x700" />
    <div class="card--overlay">
      <h2 class="h2">Checkout Redesign</h2>
      <p>Making a quicker checkout with fewer abandonments</p>
    </div>
  </a>
</section>

<% end %>
