<!-- presentations-nav -->
<section class="chapter chapter--grey-03">
  <div class="container">
    <h2 class="chapter__title">Presentations</h2>
    <div class="chapter__body">
      <div class="projects_nav">
        <a href="TODO" class="project">
          <h3 class="title">Magic</h3>
          <p class="byline">What designers can learn from magicians.</p>
        </a>
        <a href="TODO" class="project">
          <h3 class="title">Wild Mushrooms</h3>
          <p class="byline">Why foraging is cool and how you can get started.</p>
        </a>
        <a href="TODO" class="project">
          <h3 class="title">Designing an Atomic Design System in Jekyll</h3>
          <p class="byline">My experience building such a system for a large site.</p>
        </a>
        <a href="TODO" class="project">
          <h3 class="title">The Secret Life of Usability</h3>
          <p class="byline">A presentation on usability and emotion..</p>
        </a>
        <a href="TODO" class="project">
          <h3 class="title">Brain Bugs</h3>
          <p class="byline">How we unconsciously choose.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /presentations-nav -->
