<!-- projects-nav -->
<section class="chapter chapter--grey-03">
  <div class="container">
    <h2 class="chapter__title">Work</h2>
    <div class="chapter__body">
      <div class="projects_nav">
        <a href="/work/hobsons-app-review/" class="project">
          <h3 class="title">Hobsons AppReview</h3>
          <p class="byline">Streamlining application review in higher ed</p>
        </a>
        <a href="/work/grubmarket-checkout/" class="project">
          <h3 class="title">Grubmarket Checkout</h3>
          <p class="byline">Simplifying checkout to just one step.</p>
        </a>
        <a href="/work/trackpacer/" class="project">
          <h3 class="title">Trackpacer Training App</h3>
          <p class="byline">The companion app to a running track project.</p>
        </a>
        <a href="/work/grubmarket-enterprise/" class="project">
          <h3 class="title">Grubmarket Enterprise Ordering</h3>
          <p class="byline">A platform that enables restaurants to order from farmers' markets.</p>
        </a>
        <a href="/work/reveal/" class="project">
          <h3 class="title">Reveal Ad Targeting Platform</h3>
          <p class="byline">A targeting and analysis platform for app publishers.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /projects-nav -->
