<div class="grid container">
  <% 7.times do |num| %>
  <a href="/work/demo-2/" class="grid__item">
    <p class="h4"><%= lorem.word %></p>
    <h3 class="h3"><%= lorem.words 4 %></h3>
    <p><%= lorem.sentence %></p>
  </a>
  <% end %>
</div>
