<!-- writing-nav -->
<section class="chapter chapter--grey-03">
  <div class="container">
    <h2 class="chapter__title">Writing</h2>
    <div class="chapter__body">
      <div class="projects_nav">
        <a href="https://medium.com/todd-moy/improve-your-sketching-by-shamelessly-copying-d4ceeead0ac#.hfd8ea1uy" class="project">
          <h3 class="title">Improve Your Sketching by Shamelessly Copying</h3>
          <p class="byline">Streamlining application review in higher ed</p>
        </a>
        <a href="https://medium.com/todd-moy/fun-and-games-with-design-challenges-693a2ac00004#.ajmq11v5f" class="project">
          <h3 class="title">Fun and Games with Design Challenges</h3>
          <p class="byline">Level up your team’s UX skills with mini exercises.</p>
        </a>
        <a href="https://medium.com/todd-moy/3-tactics-for-improving-wireframe-presentations-2698e488ef5b#.vl1k6mbql" class="project">
          <h3 class="title">3 Tactics for Improving Wireframe Presentations</h3>
          <p class="byline">Get better feedback using these simple methods.</p>
        </a>
        <a href="https://medium.com/todd-moy/what-blackhat-and-the-nsa-can-teach-us-about-content-audits-fab6b2d62d14#.d8c8ff3wk" class="project">
          <h3 class="title">What Blackhat and the NSA Can Teach Us About Content Audits</h3>
          <p class="byline">Sneaky ways to use Google Advanced Search Operators.</p>
        </a>
        <a href="https://medium.com/todd-moy/power-tools-for-content-inventories-c91dab90ad54#.a7i7f4bnn" class="project">
          <h3 class="title">Power Tools for Content Inventories</h3>
          <p class="byline">Uncommon software that will improve the quality of any IA’s life.</p>
        </a>
        <a href="https://medium.com/todd-moy/how-to-visualize-your-site-as-a-treemap-266e733c0fb3#.go4nxm229" class="project">
          <h3 class="title">How to Visualize Your Site as a Treemap</h3>
          <p class="byline">Using Google Spreadsheets and the Treemap widget.</p>
        </a>
        <a href="https://medium.com/todd-moy/building-a-traffic-heatmap-with-google-analytics-and-r-dfd896f1354a#.vbsjje6gg" class="project">
          <h3 class="title">Building a Traffic Heatmap with Google Analytics and R</h3>
          <p class="byline">Visualizing visitor traffic based on day and time.</p>
        </a>
        <a href="https://medium.com/todd-moy/how-to-run-quick-cheap-usability-tests-using-mechanical-turk-1b6d728747d8#.sj4wcs2nr" class="project">
          <h3 class="title">How to Run Quick, Cheap, Usability Tests Using Mechanical Turk</h3>
          <p class="byline">All for about the cost of a round of beers.</p>
        </a>
        <a href="https://medium.com/todd-moy/building-switchman-6a2bdb640c04#.txqct1xyo" class="project">
          <h3 class="title">Building Switchman</h3>
          <p class="byline">How I solved a testing problem by building my first real Rails app.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /writing-nav -->
