---
page_title: Locution
client: Locution
project: Locution
summary: A cross-platform mobile app for fire dispatchers.
---

<div class="case-story__chapter">
  <p>Locution allows first-responders to receive alerts, respond to events, and log information for others.</p>
  <p>After our partner had produced a functional proof-of-concept, they asked Viget to improve the user experience. I led the interface design for this product, focusing on.</p>
  <div class="case-story__matrix case-story__matrix--2col">
    <div class="item">
      <h3>Feature definition</h3>
      <p>Defining capablities that were not yet present in the proof-of-concept.</p>
    </div>
    <div class="item">
      <h3>UI / IX Design</h3>
      <p>Sketching, interaction design, prototyping, and final art production.</p>
    </div>
  </div>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Initial assessment</h2>
  <p>Common with first iteration MVPs, the user interface had been assembled on-the-fly as features were developed. Once the core functionality had been proven, it was time to refactor those decisions into something efficient and easy-to-use. Key areas to improve were:</p>
  <ul>
    <li>Multiple screens were fulfilling the same purpose</li>
    <li>The satellite map inhibited readability</li>
    <li>There was little visual prioritization</li>
  </ul>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/prior-screens.png" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Main view</h2>
  <p>The main view consolidates two screens and allows a comprehensive view of all alerts in both map and list form.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/main-view.png" />
  </figure>
  <!-- <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/view-alert-flow.png" />
  </figure> -->
  <p>Rather than use a satellite map which obscures road names and introduces noise, I introduced a Mapbox theme that highlights pins, markers, and labels.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/map-comparison.png" />
  </figure>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Alert detail</h2>
  <p>While each precinct has different data formats and requirements for its alerts, I was able to determine a common baseline of info: location, priority, and time. This information was reliable and predictable, which allowed me to style it to be easily scannable.</p>
  <p>Less predictable content was presented in a more flexible (albeit less eye-catching) way beneath the primary action buttons.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/alert-detail.png" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Adding markers</h2>
  <p>First-responders can add markers with information &mdash; important for marking entrance points, water sources, and hazards. Users can precisely position the map, choose from a set of icons, and add text.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/add-pin-flow.png" />
  </figure>
</div>

<div class="case-story__chapter case-story__chapter--nearBlack">
  <h2>Hand-off</h2>
  <p>Because our partner was building the UI, I wanted to make sure they had the right documentation. A storyboard provided context to the different views and the interactions. Beyond that, I used Zeplin to convey positioning metrics, typeface and color specs, and annotations.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-800.svg" data-src="assets/storyboard.png" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Credits</h2>
  <dl>
    <dt>Agency</dt> <dd>Viget</dd>
    <dt>UX Design, Visual Design</dt> <dd>Todd Moy</dd>
    <dt>Icon Illustration</dt> <dd>Minh Tran</dd>
    <dt>Project Management</dt> <dd>Becky Tornes</dd>
  </dl>
</div>
