---
page_title: First Responder App
client: Locution
project: First Responder app
summary: A cross-platform mobile app for fire dispatchers.
---

<div class="case-story__chapter">
  <p>Locution is an app that allows first-responders to receive alerts, respond to events, and log information for others.</p>
  <p>A proof-of-concept app had been built in Cordova. I was brought in to audit the experience and redesign the user-facing experience.</p>
  <div class="case-story__matrix case-story__matrix--2col">
    <div class="item">
      <h3>UI Design</h3>
      <p>Sketching, interaction design, prototyping, and final art production.</p>
    </div>
    <div class="item">
      <h3>Feature Definition</h3>
      <p>Planning and design for enhancements like saved workouts and a wearable app.</p>
    </div>
  </div>
</div>

<div class="case-story__chapter">
  <h2>Initial assessment</h2>
  <p>Common with first iteration MVPs, the user interface had been assembled on-the-fly as features were developed.</p>
  <p>Once the core functionality had been tested, it was time to refactor those decisions into something efficient and easy-to-use.</p>
</div>

<div class="case-story__chapter  center-text">
  <div class="marvel-device iphone6 black">
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="sensor"></div>
    <div class="speaker"></div>
    <div class="screen">
      <video width="375" height="667" src="https://s3.amazonaws.com/toddmoycom/work/locution/assets/Viget-Locution-Prototype-4.mp4" controls></video>
    </div>
    <div class="home"></div>
    <div class="bottom-bar"></div>
  </div>
</div>

<div class="case-story__chapter case-story__chapter--nearBlack center-text">
  <figure class="full-bleed">
    <img src="assets/storyboard.png" />
  </figure>
</div>
