---
title: Locution
summary: Helping first responders
---

<section class="cover scene_element scene_element--fadeinup">
  <div class="container">
    <h1 class="page__title"><%= current_page.data.title %></h1>
    <p class="page__summary"><%= current_page.data.summary %></p>
  </div>
</section>

<section class="chapter">
  <div class="container">
    <h2 class="chapter__title">Overview</h2>
    <div class="chapter__body">
      <p>Locution allows first-responders to receive alerts, respond to events, and log information for others.</p>
      <p>After our partner had produced a functional proof-of-concept, they asked Viget to improve the user experience. I led the interface design for this product, focusing on.</p>
      <ul>
        <li><strong>Feature Definition</strong> - Defining capablities that were not yet present in the proof-of-concept. </li>
        <li><strong>UX Design</strong> - Sketching, interaction design, prototyping, and final art production.</li>
      </ul>
    </div>
  </div>
</section>

<section class="chapter chapter--grey-03 chapter--img-flush-bottom">
  <div class="container">
    <img src="hero.png" class="greyscale" alt="" />
  </div>
</section>

<section class="chapter">
  <div class="container">
    <h2 class="chapter__title">Initial Assessment</h2>
    <div class="chapter__body">
      <p>Common with first iteration MVPs, the user interface had been assembled on-the-fly as features were developed. Once the core functionality had been proven, it was time to refactor those decisions into something efficient and easy-to-use. Key areas to improve were:</p>
        <ul>
          <li>Multiple screens were fulfilling the same purpose</li>
          <li>The satellite map inhibited readability</li>
          <li>There was little visual prioritization</li>
        </ul>
    </div>
  </div>
</section>

<section class="chapter chapter--grey-03">
  <div class="container">
    <img src="prior-screens.png" class="greyscale" alt="" />
  </div>
</section>

<section class="chapter">
  <div class="container">
    <h2 class="chapter__title">Main View</h2>
    <div class="chapter__body">
      <p>The main view consolidates two screens and allows a comprehensive view of all alerts in both map and list form.</p>
      <p>Rather than use a satellite map which obscures road names and introduces noise, I introduced a Mapbox theme that highlights pins, markers, and labels.</p>
    </div>
  </div>
</section>
