.case-story__wrapper {}

.case-story__list {}

.case-story__list__item {
  * {
    text-align: center;
  }
}

.case-story__title,
.case-story__project {
  text-align: center;
}

.case-story__title {
  font-family: $font-family-body;
  font-weight: normal;
  font-size: $font-size-body * 2;
  line-height: $line-height-body * 0.8;
  margin: 100px 20px 20px 20px;
  @media (min-width: $bp-md) {
    font-size: $font-size-body * 2.5;
  }
  @media (min-width: $bp-lg) {
    font-size: $font-size-body * 3;
  }
}

.case-story__project {
  font-size: $font-size-body * 0.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: $line-height-body * 0.7;
  margin: 0 20px 0 20px;
}

.case-story__content {
  width: 90%;
  margin: 0 auto;

  @media (min-width: $bp-md) {
    width: 80%;
  }

  @media (min-width: $bp-lg) {
    width: 700px;
  }

  .case-story__content__2-col {
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    @media (min-width: $bp-md) {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }
    @media (min-width: $bp-lg) {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }
  }

  h2 {
    font-size: $font-size-body * 0.6;
    font-family: $font-family-body;
    font-weight: normal;
    line-height: $line-height-body * 0.7;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
  }

  h3 {
    font-size: $font-size-body;
    line-height: $line-height-body * 0.7;
  }

  h4 {
    font-size: $font-size-body;
    line-height: $line-height-body * 0.7;
  }

  hr {
    border: solid $color-accent-1 3px;
    margin: 3em auto 3em auto;
    width: 20px;
  }

  figure {
    display: block;
    margin: 0 auto 1.5em auto;
    background-color: #61636F;
    padding: .25em .05em .05em .05em;
    position: relative;

    @media (min-width: $bp-md) {
      padding: .5em 1em 1em 1em;
    }

    @media (min-width: $bp-lg) {
      padding: 1em 1.5em 1.5em 1.5em;
    }
  }

  figcaption {
    color: rgba(255, 255, 255, 0.7);
    font-family: helvetica;
    font-size: 0.6em;
    margin-bottom: .25em;
    margin-left: .5em;

    @media (min-width: $bp-md) {
      margin-bottom: .5em;
      margin-left: 0;
    }

    @media (min-width: $bp-lg) {
      margin-bottom: 1em;
      margin-left: 0;
    }
  }

  .js-trim { }

  .js-trimmed {
    cursor: pointer;
    height: 400px;
    overflow: hidden;
    display: block;
    border-bottom: solid #cdcdcd 1px;
    button {
      margin: 0 auto;
      border: 0;
      color: white;
      background-color: #333;
      font-family: helvetica, sans-serif;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }
  }
}
