.case-story__wrapper {}

.case-story__header {
  text-align: center;
}

.case-story__title {
  font-family: $font-family-body;
  font-weight: normal;
  font-size: $font-size-body * 2;
  line-height: $line-height-body * 0.8;
  margin: 0.5em 20px 20px 20px;

  @media (min-width: $bp-md) {
    font-size: $font-size-body * 2.5;
  }

  @media (min-width: $bp-lg) {
    font-size: $font-size-body * 3;
  }
}

.case-story__project {
  font-size: $font-size-body * 0.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: $line-height-body * 1.3;
  margin: 0 20px 0 20px;
}

.case-story__hero {
  background-color: #61636F;
  margin: 3em 0;
  padding-top: 1em;
  text-align: center;
  @media (min-width: $bp-md) {
    padding-top: 2em;
  }
  @media (min-width: $bp-lg) {
    padding-top: 3em;
  }
  img {
    width: 90%;
    margin: 0 auto;
    display: block;
    @media (min-width: $bp-lg) {
      max-width: 960px;
    }
  }
}
