

// SLIDE TYPES

.slide {
  font-size: 18px;
  line-height: 32px;
  background-color: $primary-color;
  color: $font-color;
  xmin-height: 100vh;
  xmargin-bottom: 20px;
  xmargin-right: 72px;
  xmargin-left: 72px;
  font-family: $font-family;
}

.slide--cover {
  padding: $internal_v_padding $internal_h_padding;
}

.slide--basic-text {
  padding: $internal_v_padding $internal_h_padding;
  .slide__body { }
}

.slide--split-text-thirds {
  padding: $internal_v_padding $internal_h_padding;
  .cols {
    display: flex;
    justify-content: space-between;
  }
  .third {
    width: 33.33%;
    margin-right: $column_gutters / 7;
  }
}

.slide--chapter {
  padding: $internal_v_padding $internal_h_padding;
  background-color: black !important;
}

.slide--quote { 
  padding: $internal_v_padding $internal_h_padding;
}

.slide--full-image {
  padding: $internal_v_padding $internal_h_padding;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide--split-image {
  @include display(flex);
  @include justify-content(space-between);
  overflow: auto;
  zoom: 1;
  
  .half { 
    width: 50%; 
  }
  .text { 
    padding: $internal_v_padding $column_gutters $internal_v_padding $internal_h_padding; 
  }
  .image {
    @include display(flex);
    @include align-items(flex-end); 
    background-size: cover; 
    background-repeat: no-repeat;
    
    & > p {
      margin: 0px;
      padding: 0px 20px;
      font-size: 13px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

.slide--flip {
  @include flex-direction(row-reverse);
  .text { 
    padding: $internal_v_padding $internal_h_padding $internal_v_padding $column_gutters; 
  }
}


// SLIDE ELEMENTS

.slide__project-title {
  font-size: 90px;
  line-height: 96px;
  font-weight: 100;
}

.slide__project-overview {
  @include columns(2);
}

.slide__topic {
  color: $accent-color-1;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
}

.slide__title {
  font-size: 64px;
  font-weight: 100;
}

.slide__headline {
  font-size: 32px;
  line-height: 41px;
  font-weight: 100;
}

.slide__body {}

.slide__chapter-title {
  font-size: 32px;
  line-height: 41px;
  font-weight: 900;
  color: $accent-color-1;
  text-transform: uppercase;
}