<footer class="footer">
  <p class="copyright">Website design and content &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Todd Moy</p>
  <ul class="contact-links">
    <li><a href="mailto:todd.moy@gmail.com">todd.moy@gmail.com</a></li>
    <li><a href="http://linkedin.com/in/toddmoy">LinkedIn</a></li>
    <li><a href="http://twitter.com/toddmoy">Twitter</a></li>
    <li><a href="http://instagram.com/toddmoy">Instagram</a></li>
  </ul>
</footer>
