---
page_title: Grubmarket Enterprise Ordering
client: Grubmarket
project: Enterprise Ordering Apps Design
description: Designing a platform that enables restaurants to order from farmers markets.
---

<div class="case-story__chapter">
    <p>GrubMarket is to local produce what Etsy is to handmade crafts. The online retailer allows consumers to shop direct from farmers and independent producers&mdash;from the convenience of their phones.</p>
    <p>GrubMarket asked Viget to help design a <abbr title="minimum viable product">MVP</abbr>, chat-oriented platform that would allow chefs to discuss, negotiate, and order goods in bulk.</p>
    <p>The final product was actually two apps: one for restaurants and one for Grubmarket's support staff.</p>
    <p>I led the UX design on this project, doing:</p>
    <div class=" case-story__matrix case-story__matrix--2col">
      <div class="item">
        <h3>UI Design</h3>
        <p>Sketching, interaction design, prototyping, and guerilla usability testing.</p>
      </div>
      <div class="item">
        <h3>Final asset production</h3>
        <p>Creating screen-ready assets for their development team.</p>
      </div>
    </div>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Discovery</h2>
  <p>Grubmarket had been selling to chefs for some time. The unconventional decision to create a chat-based ordering system was driven by insights they had learned, namely:</p>
  <ul>
    <li>Restaurant grocery ordering is still a high-touch and relationship-mediated process, ill-suited to eCommerce.</li>
    <li>Chefs care deeply about discussing and validating qualities like blemishes and ripeness.</li>
    <li>Prices are negotiated and balances paid in lump sums every few weeks.</li>
    <li>Text-messaging is a dominant form of vendor / consumer communication.</li>
  </ul>
</div>

<div class="case-story__chapter case-story__chapter--nearBlack">
  <h2>Support Rep App</h2>
  <p>Multiple support reps are on call to answer questions and take orders from any restaurant. This shared channel presented some interesting needs like </p>
  <ul>
    <li>Preventing reps from talking over one another.</li>
    <li>Sharing and recalling each chef's preferences and eccentricities</li>
  </ul>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/support-flow.png" alt="screens in the support flow" />
  </figure>
  <h3>Preventing collisions</h3>
  <p>Because the chat channel is shared among support staff, it’s important to prevent multiple people from responding at the same time.</p>
  <p>When someone is currently typing, a cue is inserted adjacent to the message input. A similar one appears in the main menu.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/anti-collision.png" alt="anti-collision features" />
  </figure>
  <h3>Sharing knowledge</h3>
  <p>Simple notes can be added to each restaurant. This helps reps share and remember important details about their customers, so that they can serve them better. A planned enhancement to this screen is tracking order history.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/customer-notes.png" alt="view and edit customer notes" />
  </figure>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Consumer App</h2>
  <p>While ecommerce was considered for the future, the first release of the app would rely on reps handling orders. In a sense, the app was used as a high-touch research tool to determine the best way to handle orders from restaurants.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/consumer-flow.png" alt="screens in the consumer flow" />
  </figure>
  <h3>Taking orders</h3>
  <p>As a result, we kept the consumer experience simple. Aside from chat, we offer users easy access to the price list and inventory through a custom keyboard.</p>
  <p>Users can browse the list by scrolling, or use the typeahead to quickly filter the list. If they want, they can add the item and quantities into the chat stream, preventing extra effort. A planned enhancement is remembering oft-purchased goods.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/typeahead-menu.png" alt="typeahead menu of goods" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Credits</h2>
  <dl>
    <dt>Agency</dt> <dd>Viget</dd>
    <dt>UX Design, Visual Design</dt> <dd>Todd Moy</dd>
    <dt>Project Management</dt> <dd>Becca James</dd>
  </dl>
</div>
