---
page_title: Example 1
summary: An Example
keywords:
---

<div class="container mb-xxl mt-xxl">
  <div class="col-12">
    <h1>Checkout Redesign</h1>
    <p>Grubmarket</p>
  </div>
</div>

<div class="container mb-xxl">
  <img src="//placehold.it/2000x1000" />
</div>

<div class="container mb-xxl">
  <div class="col-6">
    <h3>The Scenario</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6">
    <h3>What We Did</h3>
    <p>Lorem ipsum dolor sit amet, <a href="//example.com">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
  </div>
  <div class="col-12">
    <table>
      <thead>
        <tr>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Stuff</td>
          <td>Stuff</td>
          <td>Stuff</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>Stuff</td>
          <td>Stuff</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mb-xxl">
  <img src="//placehold.it/2000x1000" />
</div>

<div class="container container--thin mb-xxl">
  <div class="col-12">
    <h3>What We Did</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <blockquote>
      <p>It was the best of times, it was the worst of times.</p>
      <cite>Jesus</cite>
    </blockquote>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <table>
      <thead>
        <tr>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Stuff</td>
          <td>Stuff</td>
          <td>Stuff</td>
        </tr>
        <tr>
          <td>Stuff</td>
          <td>Stuff</td>
          <td>Stuff</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mb-xxl">
  <img src="//placehold.it/2000x1000" />
</div>

<div class="container mb-xxl">
  <div class="col-2">
    <h3>What We Did</h3>
  </div>
  <div class="col-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<div class="container mb-xxl">
  <div class="col-4">
    <img src="//placehold.it/500x500" />
  </div>
  <div class="col-4">
    <img src="//placehold.it/500x500" />
  </div>
  <div class="col-4">
    <img src="//placehold.it/500x500" />
  </div>
  <div class="col-4">
    <img src="//placehold.it/500x500" />
  </div>
  <div class="col-4">
    <img src="//placehold.it/500x500" />
  </div>
  <div class="col-4">
    <img src="//placehold.it/500x500" />
  </div>
</div>

<div class="container container--thin mb-xxl">
  <div class="col-12 ta-c">
    <h2 class="h3">Stuff</h2>
    <h3 class="h2">Lorem Ipsum Donlor</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
