---
page_title: Style Guide
summary: Exercising styles used in the site.
keywords:
---

<div class="container mb-xxl mt-xxl">
  <div class="col-12" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-12</div>
  <div class="col-6" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-6</div>
  <div class="col-6" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-6</div>
  <div class="col-4" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-4</div>
  <div class="col-4" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-4</div>
  <div class="col-4" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-4</div>
  <div class="col-3" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-3</div>
  <div class="col-3" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-3</div>
  <div class="col-3" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-3</div>
  <div class="col-3" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-3</div>
  <div class="col-2" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-2</div>
  <div class="col-2" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-2</div>
  <div class="col-2" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-2</div>
  <div class="col-2" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-2</div>
  <div class="col-2" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-2</div>
  <div class="col-2" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-2</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>
  <div class="col-1" style="padding: 20px; background-color: #fafafa; border: solid #ddd 1px">.col-1</div>

  <hr class="mt-reg mb-reg" />

  <h1 class="col-12">Heading One</h1>
  <h2 class="col-12">Heading Two</h2>
  <h3 class="col-12">Heading Three</h3>
  <h4 class="col-12">Heading Four</h4>
  <h5 class="col-12">Heading Five</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <a href="//example.com">Example.com</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <ol>
    <li>Item 1</li>
    <li>Item 2
      <ol>
        <li>Item 2.1</li>
        <li>Item 2.2</li>
        <li><ol>
          <li>Item 2.2.1</li>
          <li>Item 2.2.2</li>
        </ol></li>
      </ol>
    </li>
  </ol>
  <ul>
    <li>Item</li>
    <li>Item
      <ul>
        <li>Item</li>
        <li>Item</li>
        <li><ul>
          <li>Item</li>
          <li>Item</li>
        </ul></li>
      </ul>
    </li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Column</th>
        <th>Column</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stuff</td>
        <td>Stuff</td>
      </tr>
      <tr>
        <td>Stuff</td>
        <td>Stuff</td>
      </tr>
    </tbody>
  </table>
  <hr />
</div>
