.homepage__cover {
  text-align: center;
  padding: 5em 2em;
  @media (min-width: $bp-md) {
    padding: 8em 3em;
  }
  @media (min-width: $bp-lg) {
    padding: 10em 3em;
  }
}

.homepage__cover__identity {
  font-family: $font-family-nav;
  font-size: $font-size-nav * 2;
  font-weight: bold;
  text-transform: uppercase;
}

.homepage__cover__byline {
  font-size: $font-size-body * 0.6;
  margin-bottom: 2em;
}

.work_index__content {
  margin: 0 auto;
  text-align: center;
  background-color: $color-accent-2;
  * {
    color: white;
  }
  h2 {
    font-family: $font-family-header-2;
    font-size: $font-size-body * 0.7;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.5em;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    background-color: $color-accent-1;
    letter-spacing: 1px;
  }
}

.work-item {
  text-align: center;
  border-bottom: dotted rgba(255, 255, 255, 0.1) 1px;

  a {
    padding: 1em 2em;
    @media (min-width: $bp-md) {
      padding: 2em 5em;
    }
    display: block;
    &:hover {
      text-decoration: none;
      background-color: lighten($color-accent-2, 5%);
      p {
        opacity: 1;
      }
    }
  }
  h3 {
    font-family: $font-family-header;
    font-size: $font-size-body;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    opacity: 0.4;
  }
}
