body.index {
  background-color: $color-accent-2;
}

.homepage__content {
  height: 100%;
  display: -ms-flexbox;
	display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
