.work_index__content {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
}

.work-item__client {
  @extend .small-caps;
}

.work-item {
  flex: 0 0 100%;
  border: solid white 10px;
  min-height: 14em;
  padding: 2em;
  @media (min-width: $bp-md) {
    flex: 0 0 50%;
  }
  a {
    color: $font-color-body;
    &:hover {
      text-decoration: none;
    }
  }
  .work-item__description {
    opacity: 0;
  }
  &:hover {
    .work-item__description {
      opacity: 1;
    }
  }
}

.work-item--full-width {
  flex: 0 0 100%;
}

.work-item--cyan {
  background-color: #00ffff;
  // background-color: $color-accent-5;
}

.work-item--yellow {
  background-color: #ffff00;
  // background-color: $color-accent-4;
}

.work-item--magenta {
  background-color: #ff00ff;
  // background-color: $color-accent-6;
}
