---
page_title: TrackPacer App
client: Trackpacer
project: Trackpacer
description:
keywords:
---

<div class="case-story__chapter">
  <p>Trackpacer is a digital "trackrabbit" that helps competitive runners train harder. It's comprised of a series of LED strips installed in a 400 meter track. The system projects a 3 meter beam of light that orbits the track at a pace chosen by the runner or their coach.</p>
</div>

<div class="case-story__chapter">
  <h2>My role</h2>
  <p>After a React-based prototype had been created, I was brought in to design the user interface and establish a vision for future features like saved workouts, system configuration, and an Apple Watch companion app.</p>
</div>

<div class="case-story__chapter">
  <h2>Passing control</h2>
  <p>One one person can control TrackPacer at a time. Allowing one person to take control when another is using the track is clearly a bad experience.</p>
  <p>The app polls to see whether the track is occupied and, if it is, only the "Request Control" action is presented. Tapping that sends a request to the current controller, who can pass control or ignore the request.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-800.svg" data-src="assets/control-delegation.png" alt="Requesting and transferring control among users." />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Ceding control</h2>
  <p>Users can manually detach from the track by pulling down past a certain threshold. A "plug" pulls apart, providing feedback</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/detaching.png" alt="Detaching from the track." />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Apple Watch</h2>
  <p>Translating the app to the Apple Watch was a logical next-step. This form factor offers at-a-glance information along with the ability to start and stop workouts. Swiping the bezel allows the user to switch between saved workouts.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/watch.png" alt="Apple Watch companion app" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Case Study</h2>
  <p>Our corporate site was in the midst of a redesign, but we wanted to tell the story of creating TrackPacer in an engaging way. I collaborated on the design of this one-off case story page with Billy French.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/case-story.png" alt="case study page" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Credits</h2>
  <dl>
    <dt>Agency</dt> <dd><a href="//viget.com">Viget</a></dd>
    <dt>UX &amp; Visual Design</dt> <dd>Todd Moy, Billy French, Joseph Le</dd>
    <dt>Hardware Design, Fabrication, and Software Development</dt> <dd>Lawson Kurtz, Justin Sinichko, Eli Fatsi</dd>
  </dl>
</div>
