---
page_title: TrackPacer
client: Trackpacer
project: Trackpacer
summary: Designing an iOS app for a running training app.
keywords:
---

<div class="case-story__chapter">
  <p>TrackPacer is a digital "track rabbit" that helps competitive runners train harder. It's a controllable beam of light that orbits a 400 meter track, illuminated by thousands of LEDs and driven by Arduino-compatible microcontrollers. Coaches and runners control the pace, distance, and intervals of the pacer using an iOS app.</p>
  <p>After a React-based prototype had been created, I was brought in to design the user interface. This included:</p>
  <div class=" case-story__matrix case-story__matrix--2col">
    <div class="item">
      <h3>UI Design</h3>
      <p>Sketching, interaction design, prototyping, and final art production.</p>
    </div>
    <div class="item">
      <h3>Feature Definition</h3>
      <p>Planning and design for enhancements like saved workouts and a wearable app.</p>
    </div>
  </div>
</div>

<figure class="full-bleed">
  <img src="/assets/placeholder-2000.svg" data-src="assets/potts-field.jpg" alt="Runners chasing TrackPacer." />
</figure>

<div class="case-story__chapter">
  <h2>The App</h2>
  <p>The main screen displays workout stats like distance, pace, and intervals.</p>
  <p>Circling the perimeter of the screen is the track. The pacer orbits this in real-time, offering additional feedback to the coach — important in bright conditions when the pacer may not be easily visible from afar.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/contextual-controls.png" alt="Buttons appear and disappear, depending on the state of the track." />
  </figure>
  <p>Controls for editing and changing workouts are shown only when the pacer is paused.
While helping simplify the interface, this decision serves a more important function&mdash;it protects against inadvertent changes to settings in the midst of a workout.</p>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Changing Settings</h2>
  <p>Users can swipe between predefined distance settings or enter their own custom one. A custom numeric keypad guards against invalid input and makes choosing units easy. Pacer color can be tuned for best visibility in changing light conditions.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/changing-settings.png" alt="Requesting and transferring control among users." />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Requesting and Passing Control</h2>
  <p>Inevitably, multiple users will try to use the system simultaneously.
A user who wishes to use the track can request control. Doing so messages the current “owner” who can choose to pass control or ignore the request.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/control-delegation.png" alt="Requesting and transferring control among users." />
  </figure>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Detaching from the Track</h2>
  <p>While control of the track is released when the owner walks out of range, she can also do this manually. Pulling the screen down past a certain point&mdash;<em>in essence, away from the track</em>&mdash;disconnects the app from the track.</p>
  <p>An animated icon depicting a plug pulling away from a socket provides feedback where this threshold lies. The track UI dims to draw attention to the message.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/detaching.png" alt="Detaching from the track." />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Companion App</h2>
  <p>The simple UI was easily translated to a wearable form factor. This natural extension allows a coach to start and stop the pacer with a tap. Saved workouts can be changed with a swipe.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/watch.png" alt="Apple Watch companion app" />
  </figure>
</div>

<div class="case-story__chapter case-story__chapter--nearBlack">
  <h2>Case Study</h2>
  <p>Our corporate site was in the midst of a redesign, but we wanted to tell the story of creating TrackPacer in an engaging way. I collaborated on the design of this one-off case story page with Billy French.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/case-story.png" alt="case study page" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Credits</h2>
  <dl>
    <dt>Agency</dt> <dd>Viget</dd>
    <dt>UX &amp; Visual Design</dt> <dd>Todd Moy, Billy French, Joseph Le</dd>
    <dt>Hardware Design, Fabrication, and Software Development</dt> <dd>Lawson Kurtz, Justin Sinichko, Eli Fatsi</dd>
    <dt>Front-end Development</dt> <dd>Ben Tinsley</dd>
  </dl>
</div>
