---
title: Todd Moy
summary: Come here often?
---

<style type="text/css">
  .x404 {
    background:url(/assets/404.gif) no-repeat fixed center;
    background-size: cover;
    background-position: top center;
  }

  .banner-404 {
    display: flex;
    background-color: white;
    padding: 1em !important;
    justify-content: space-between;
    align-items: center;
  }

  .banner-404 * {
    margin: 0;
  }
</style>

<div class="banner-404">
  <h1>404</h1>
  <a class="button" href="/">Back to Safety</a>
</div>
