---
title: Todd Moy
---

<div class="work_index__content">
  <div class="work-item work-item--full-width">
    <h1>Todd Moy</h1>
    <p>Product Designer. Pebble Wrestler. Currently, UX at Viget.</p>
  </div>
  <div class="work-item work-item--cyan">
    <a href="work/trackpacer/">
      <h3 class="work-item__client">Trackpacer</h3>
      <h2 class="work-item__title">iOS Design</h2>
      <p class="work-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </a>
  </div>
  <div class="work-item work-item--magenta">
    <a href="work/hobsons-app-review/">
      <h3 class="work-item__client">Hobsons</h3>
      <h2 class="work-item__title">AppReview</h2>
      <p class="work-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </a>
  </div>
  <div class="work-item work-item--cyan">
    <a href="work/grubmarket-enterprise/">
      <h3 class="work-item__client">Grubmarket</h3>
      <h2 class="work-item__title">Enterprise Ordering</h2>
      <p class="work-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </a>
  </div>
  <div class="work-item work-item--yellow">
    <a href="work/grubmarket-checkout/">
      <h3 class="work-item__client">Grubmarket</h3>
      <h2 class="work-item__title">Checkout</h2>
      <p class="work-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </a>
  </div>
  <div class="work-item work-item--magenta">
    <a href="TODO">
      <h3 class="work-item__client">Viget</h3>
      <h2 class="work-item__title">Site Redesign</h2>
      <p class="work-item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </a>
  </div>
</div>
