---
title: Todd Moy
summary:
---

<div class="homepage__cover">
  <h1 class="homepage__cover__identity">Todd Moy</h1>
  <p class="homepage__cover__byline">UX Designer at Viget in Boulder, CO.</p>
  <a class="button button--contact" href="mailto:todd.moy@gmail.com">Email</a>
  <a class="button button--contact" href="http://linkedin.com/in/toddmoy">LinkedIn</a>
  <a class="button button--contact" href="http://twitter.com/toddmoy">Twitter</a>
</div>

<div class="work_index__content">
  <h2>Recent Work</h2>
  <div class="work-item">
    <a href="work/trackpacer/">
      <h3 class="work-item__title">TrackPacer</h2>
      <p class="work-item__description">The companion app to a running track training product.</p>
    </a>
  </div>
  <div class="work-item work-item--pending">
    <a href="#">
      <h3 class="work-item__title">Hobsons AppReview</h2>
      <p class="work-item__description">Coming soon.</p>
    </a>
  </div>
  <div class="work-item work-item--pending">
    <a href="#">
      <h3 class="work-item__title">Grubmarket Enterprise Ordering</h2>
      <p class="work-item__description">Coming soon.</p>
    </a>
  </div>
  <div class="work-item work-item--pending">
    <a href="#">
      <h3 class="work-item__title">Grubmarket Checkout</h2>
      <p class="work-item__description">Coming soon.</p>
    </a>
  </div>
</div>
