---
title: Todd Moy
---

<img src="assets/avatar.png" alt="picture of Todd Moy at Rocky Mountain National Park" class="avatar" />


<h2>Work</h2>

<div class="case-story__list">
  <div class="case-story__list__item">
    <% link_to 'work/content-analyst-definer/' do %>
      <h3>How to Train an Algorithm</h3>
      <p>Content Analyst Definer</p>
    <% end %>
  </div>

  <hr />

  <div class="case-story__list__item">
    <% link_to 'work/grubmarket-checkout/' do %>
      <h3>Simplifying Checkout</h3>
      <p>Grubmarket Checkout</p>
    <% end %>
  </div>

  <hr />

  <div class="case-story__list__item">
    <% link_to 'work/hobsons-app-review/' do %>
      <h3>Enabling paperless application review in higher ed</h3>
      <p>Hobsons App Review</p>
    <% end %>
  </div>

  <hr />

  <div class="case-story__list__item">
    <% link_to 'work/mass-general-design-system/' do %>
      <h3>Building a scalable, component-based design system</h3>
      <p>Mass General Design System</p>
    <% end %>
  </div>
</div>
