---
page_title: Grubmarket Checkout
client: Grubmarket
project: Checkout
summary: Streamlining checkout for an online grocery retailer.
keywords:
---

<div class="case-story__chapter">
  <p>GrubMarket is to local produce what Etsy is to handmade crafts. The online retailer allows consumers to shop direct from farmers and independent producers&mdash;from the convenience of their phones.</p>
  <p>After noticing abandonment in their shopping cart, they asked Viget to redesign the flow for greater efficiency.</p>
  <p>As the UX lead, I simplified the checkout experience by rethinking the page architecture and reducing the amount of decisions and input needed.</p>
  <div class=" case-story__matrix case-story__matrix--2col">
    <div class="item">
      <h3>Experience Audit</h3>
      <p>Funnel review, interviews and qualitative research, and heuristic evaluation.</p>
    </div>
    <div class="item">
      <h3>UI Design  &amp; Testing</h3>
      <p>Sketching, interaction design, prototyping, and guerilla usability testing.</p>
    </div>
  </div>
</div>

<div class="case-story__chapter">
  <h2>Research &amp; Insight</h2>
  <p>I kicked off the project with an experience audit. This helped me get acquainted to their unique the checkout experience.</p>
  <p>The existing checkout was divided into four screens:</p>
  <ol>
    <li>Billing Address</li>
    <li>Shipping Information</li>
    <li>Order Review</li>
    <li>Payment</li>
  </ol>
  <p>The second screen&mdash;shipping information&mdash;was the biggest offender with two major issues: information duplication and unnecessary friction.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/prior-shipping.png" alt="prior shipping screen" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Limiting Duplication</h2>
  <p>The second screen&mdash;shipping information&mdash;was the biggest offender. Items in the user's cart were grouped by vendor, then by shipping method. When users buy from multiple vendors&mdash;a common case&mdash;the content and complication on this page multiplies.</p>
  <p>While users may care about vendors when they are shopping, during checkout they care more about <em>when they're going to get it</em> and <em>how much will it cost</em>.</p>
  <p>Removing vendor as a grouping criteria dramatically shortened the page and drew attention to what mattered.</p>
  <figure>
    <img src="/assets/placeholder-800.svg" data-src="assets/new-shipping.png" alt="new shipping screen" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Reducing Friction</h2>
  <p>Users were asked to make many decisions in checkout&mdash;such as delivery options and time. Analytics confirmed that users tended to choose the same options: free shipping, anytime delivery, and credit card payment. What's more, Grubmarket wanted to promote it's free shipping option as a distinguishing feature.</p>
  <p>Introducing smart defaults and progressive disclosure reduced the number of actions needed.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-2000.svg" data-src="assets/checkout-dropdown-states.png" alt="checkout dropdown states" />
  </figure>
  <p>With the shipping screen shortened, I found that it served the same purpose as the Order Review screen. Combining these only required accounting for gift cards and incentive codes, which was simple to add.</p>
  <p>Billing information, previously housed in a <a href="//stripe.com">Stripe modal</a>, could be integrated into the page.</p>
  <p>Boom. Done.</p>
</div>

<div class="case-story__chapter case-story__chapter--nearBlack">
  <h2>Final Result</h2>
  <p>The streamlined checkout condenses four long pages into one. Returning users need only <span style="border-radius: 3px; margin: 0px 5px; display: inline-block; padding: 3px 10px; background-color: cornflowerblue; font-family: sans-serif;">Place Order</span>.</p>
  <figure class="full-bleed">
    <img src="/assets/placeholder-800.svg" data-src="assets/consolidation.png" alt="Comparison of old and new checkout designs" />
  </figure>
  <figure class="full-bleed">
    <img src="/assets/placeholder-800.svg" data-src="/work/grubmarket-checkout/assets/checkout.png" />
  </figure>

</div>

<div class="case-story__chapter">
  <h2>Credits</h2>
  <dl>
    <dt>Agency</dt> <dd>Viget</dd>
    <dt>UX Design</dt> <dd>Todd Moy</dd>
    <dt>Visual Design</dt> <dd>Tom Osborne</dd>
    <dt>Project Management</dt> <dd>Amanda Ruehlen</dd>
  </dl>
</div>
