---
page_title: Grubmarket Checkout
client: Grubmarket
project: Checkout.
summary: Streamlining checkout for an online grocery retailer.
keywords:
---

<div class="case-story__chapter">
  <p>GrubMarket is to local produce what Etsy is to handmade crafts. The online retailer allows consumers to shop direct from farmers and independent producers&mdash;from the convenience of their phone.</p>
  <p>After noticing abandonment in their shopping cart, they asked Viget to redesign the flow for greater efficiency.</p>
  <p>As the UX lead, I simplified the checkout experience by rethinking the page architecture and reducing the amount of decisions and input needed.</p>
  <div class=" case-story__matrix case-story__matrix--2col">
    <div class="item">
      <h3>Experience Audit</h3>
      <p>Funnel review, interviews and qualitative research, and heuristic evaluation.</p>
    </div>
    <div class="item">
      <h3>UI Design  &amp; Testing</h3>
      <p>Sketching, interaction design, prototyping, and guerilla usability testing.</p>
    </div>
  </div>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Research &amp; Insight</h2>
  <p>I kicked off the project with an experience audit. This helped me get acquainted to their unique the checkout experience. Though we didn't have resources for usability testing, the site's consumer-focus allowed me to run hallway tests using coworkers and friends.</p>
  <p>This research revealed two key issues to be fixed: <mark>information duplication</mark> and <mark>unnecessary friction.</mark></p>
  <figure>
    <figcaption>Prior shipping section.</figcaption>
    <img src="/assets/placeholder-800.svg" data-src="assets/prior-shipping.png" alt="prior shipping screen" />
  </figure>
</div>

<div class="case-story__chapter">
  <h2>Limiting Duplication</h2>
  <p>Order info was organized by vendor, not delivery method. When users buy from multiple vendors&mdash;a common case&mdash;the content on this page multiplies.</p>
  <p>While users may care about vendors when they are shopping, during checkout they care more about <em>when they're going to get it</em> and <em>how much will it cost</em>.</p>
  <p>Removing vendor as a grouping criteria dramatically shortened the page and drew attention to what mattered.</p>
  <figure>
    <figcaption>Revised shipping section.</figcaption>
    <img src="/assets/placeholder-800.svg" data-src="assets/new-shipping.png" alt="new shipping screen" />
  </figure>
</div>

<div class="case-story__chapter case-story__chapter--lightGrey">
  <h2>Reducing Friction</h2>
  <p>Users were asked to make many decisions in checkout&mdash;such as delivery options and time. Analytics confirmed that users tended to choose the same options: free shipping, anytime delivery, and credit card payment.</p>
  <p>Introducing smart defaults and progressive disclosure reduced the number of actions needed.</p>
</div>

<div class="case-story__chapter case-story__chapter--nearBlack">
  <h2>Final Result</h2>
  <p>The streamlined checkout condenses three long pages plus one <a href="//stripe.com">Stripe</a> modal into just one. Returning users only need to scan the page and click <span style="border-radius: 3px; margin: 0px 5px; display: inline-block; padding: 3px 10px; background-color: cornflowerblue; font-family: sans-serif;">Place Order</span>.</p>

  <figure>
    <figcaption>Wireframe of the checkout screen. <br />Personal details and billing information are pre-populated after the first order.</figcaption>
    <img src="/assets/placeholder-800.svg" data-src="/work/grubmarket-checkout/assets/checkout.png" />
  </figure>
</div>


<div class="case-story__chapter">
  <h2>Credits</h2>
  <dl>
    <dt>Agency</dt> <dd>Viget</dd>
    <dt>UX Design</dt> <dd>Todd Moy</dd>
    <dt>Visual Design</dt> <dd>Tom Osborne</dd>
    <dt>Project Management</dt> <dd>Amanda Ruehlen</dd>
  </dl>
</div>

---

## Design

My first step was to understand where I could reduce complexity. The current experience was divided into four screens: Billing Address, Shipping Information, Order review, and Stripe Payment Modal.

**Shipping Information Screen**

The second screen---shipping information---was the biggest offender. Items in the user's cart were grouped by vendor, then by shipping method.

<figure>
  <figcaption>Prior shipping section.</figcaption>
  <img src="/assets/placeholder-800.svg" data-src="assets/prior-shipping.png" alt="prior shipping screen" />
</figure>

During checkout, however, users care less about _who is selling them something_ than they do about _when they're going to get it_ and _how much will it cost_.

Removing vendor as the first "group by" criteria reduced duplicative information and dramatically shortened the page. It also drew attention to what mattered.

Next target: shipping options. For each grouping on the page, the user was presented with four choices:

1. Grubmarket Delivery (free, but you have to choose a delivery date)
1. US Mail (variable price)
1. Courier (variable price)
1. Self-pickup (free, but inconvenient)

Based on order analytics, people nearly always chose Grubmarket Delivery. In addition, Grubmarket wanted to drive more users to choose that option.

So, the new design preselects GrubMarket Delivery and deemphasizes the other options. It also preselects the earliest available delivery date.

<figure>
  <figcaption>Revised shipping section.</figcaption>
  <img src="/assets/placeholder-800.svg" data-src="assets/new-shipping.png" alt="new shipping screen" />
</figure>

<figure class="full-bleed">
  <figcaption>Users can still change their delivery date and method using a custom dropdown.</figcaption>
  <img src="/assets/placeholder-2000.svg" data-src="assets/checkout-dropdown-states.png" alt="checkout dropdown states" />
</figure>

**Order Review Screen**

With the shipping screen shortened, I turned my attention to the order review screen. Curiously, there were a few billing-oriented fields on this screen: gift card and coupon code, in particular. Plus, once you clicked "Submit your Order", you were presented with the Stripe modal.

The other screen maintained a lot of billing-oriented information too. Could these be combined?

It turns out they could. What's more, the revised product listing performs the same job as the order review listing. By merging these screens together, I was down to two screens.

Applying progressive disclosure to less commonly visited fields--delivery instructions, for example--allowed me to further reduce the visual weight.

**Billing Information Screen**

The next logical step, you might have guessed, was to merge the billing information with the other screen. It was a natural fit. Done.

---

## Result

The new design consolidates four screens into one, with no loss of functionality. Returning users can check out with a single click.

<figure>
  <figcaption>Prior design (left) and new design (right)</figcaption>
  <img src="/assets/placeholder-800.svg" data-src="assets/consolidation.png" alt="Comparison of old and new checkout designs" />
</figure>

<figure>
  <figcaption>Wireframe of the checkout screen. <br />Personal details and billing information are pre-populated after the first order.</figcaption>
  <img src="/assets/placeholder-800.svg" data-src="/work/grubmarket-checkout/assets/checkout.png" />
</figure>

---

## Takeaways

Three things I learned while doing this project:

1. Make smart choices on behalf of your users. Correspondingly, enable them to interact _less_.
1. Ruthlessly question prior decisions. In this case, the strained architecture was the result of many pivots and changes---not intent or malice.
1. Use whatever means possible to get insights from users. Simple hallway tests are a great first step.

---

## Credits
