---
title: Grubmarket Checkout
summary: Simplifying checkout to just one step
---

<section class="cover scene_element scene_element--fadeinup">
  <div class="container">
    <h1 class="page__title"><%= current_page.data.title %></h1>
    <p class="page__summary"><%= current_page.data.summary %></p>
  </div>
</section>

<section class="chapter">
  <div class="container">
    <h2 class="chapter__title">Overview</h2>
    <div class="chapter__body">
      <p>GrubMarket is to local produce what Etsy is to handmade crafts. The online retailer allows consumers to shop direct from farmers and independent producers—from the convenience of their phones. After noticing abandonment in their shopping cart, they asked Viget to redesign the flow for greater efficiency. As the UX lead, I simplified the checkout experience by rethinking the page architecture and reducing the amount of decisions and input needed.</p>
    </div>
  </div>
</section>
